<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-2">
      <c-card-body>
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
          <c-row class="mb-1">
            <label cLabel class="col-sm-2 col-form-label" for="roleCode">
              Mã vai trò
            </label>
            <c-col sm="4">
              <input type="text" sizing="sm" cFormControl name="roleCode" [(ngModel)]="form.roleCode" required
                maxlength="20" #roleCode="ngModel" [readonly]="isUpdate" />
              <div class="alert-danger" *ngIf="roleCode.errors && f.submitted">
                <div *ngIf="roleCode.errors['required']">Mã vai trò không được để trống</div>
                <div *ngIf="roleCode.errors['maxlength']">
                  Mã vai trò phải nhỏ hơn 20 ký tự
                </div>
              </div>
            </c-col>
            <label cLabel class="col-sm-2 col-form-label" for="roleName">
              Tên vai trò
            </label>
            <c-col sm="4">
              <input type="text" sizing="sm" cFormControl name="roleName" [(ngModel)]="form.roleName" required
                maxlength="100" #roleName="ngModel" />
              <div class="alert-danger" *ngIf="roleName.errors && f.submitted">
                <div *ngIf="roleName.errors['required']">Tên vai trò không được để trống</div>
                <div *ngIf="roleName.errors['maxlength']">
                  Tên vai trò phải nhỏ hơn 100 ký tự
                </div>
              </div>
            </c-col>
          </c-row>

          <c-row class="mb-1">
            <label cLabel class="col-sm-2 col-form-label" for="groupRoleId">
              Nhóm vai trò
            </label>
            <c-col sm="4">
              <select sizing="sm" aria-label="Nhóm vai trò" cFormControl [(ngModel)]="form.groupRoleId"
                #groupRoleId="ngModel" name="groupRoleId" cSelect (change)="changeSelectedGroupRole($event)" required>
                <option value="">-- Chọn --</option>
                <option *ngFor="let groupRole of tblGroupRoles" [value]="groupRole.id">
                  {{groupRole.groupRoleName}}</option>
              </select>
              <div class="alert-danger" *ngIf="groupRoleId.errors && f.submitted">
                <div *ngIf="groupRoleId.errors['required']">Chưa chọn Nhóm vai trò</div>
              </div>
            </c-col>
            <label cLabel class="col-sm-2 col-form-label" for="status">
              Trạng thái
            </label>
            <c-col sm="4">
              <select sizing="sm" aria-label="Trạng thái" cFormControl [(ngModel)]="form.status" cSelect name="status"
                #status="ngModel" cSelect (change)="changeSelectedStatus($event)" required>
                <option value="">-- Chọn --</option>
                <option value="0">Ngừng hoạt động</option>
                <option value="1">Hoạt động</option>
              </select>
              <div class="alert-danger" *ngIf="status.errors && f.submitted">
                <div *ngIf="status.errors['required']">Trạng thái không được để trống</div>
              </div>
            </c-col>
          </c-row>
          <c-row class="mb-1">
            <label cLabel class="col-sm-2 col-form-label" for="description">
              Mô tả
            </label>
            <c-col sm="10">
              <textarea rows="3" sizing="sm" cFormControl name="description" [(ngModel)]="form.description"
                maxlength="100" #description="ngModel"></textarea>
            </c-col>
          </c-row>
          <c-row>
            <c-col c-col md="6" [offset]="{md: 5}">
              <button cButton color="info" type="submit" size="sm" *ngIf="isShowButton('save')">
                <svg cIcon class="me-2" name="cil-save"></svg><span class="btn-text">Lưu</span>
              </button>
              <button cButton color="dark" type="button" size="sm" routerLink="/role/role-manager"
                *ngIf="isShowButton('close')">
                <svg cIcon class="me-2" name="cil-ban"></svg><span class="btn-text">Quay lại</span>
              </button>
            </c-col>
          </c-row>
        </form>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>