<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-2">
      <c-card-body>
        <form>
          <c-row class="mb-1">
            <label cLabel class="col-sm-2 col-form-label" for="userName">
              Tên đăng nhập
            </label>
            <c-col sm="4">
              <input cFormControl sizing="sm" id="userName" name="userName" type="text"
                (change)="userName = $any($event.target).value" />
            </c-col>
            <label cLabel class="col-sm-2 col-form-label" for="fullname">
              Họ tên
            </label>
            <c-col sm="4">
              <input cFormControl sizing="sm" id="fullname" name="fullname" type="text"
                (change)="fullname = $any($event.target).value" />
            </c-col>
          </c-row>
          <c-row class="mb-1">
            <label cLabel class="col-sm-2 col-form-label" for="departmentname">
              Phòng đơn vị
            </label>
            <c-col sm="4">
              <input cFormControl sizing="sm" id="departmentname" name="departmentname" type="text"
                (change)="departmentname = $any($event.target).value" />
            </c-col>
            <label cLabel class="col-sm-2 col-form-label" for="status">
              Trạng thái
            </label>
            <c-col sm="4">
              <select sizing="sm" aria-label="Trạng thái" id="status" name="status" cSelect
                (change)="status = $any($event.target).value">
                <option value="-1">-- Tất cả --</option>
                <option value="0">Ngừng hoạt động</option>
                <option value="1">Hoạt động</option>
              </select>
            </c-col>
          </c-row>
          <c-row>
            <c-col c-col md="6" [offset]="{md: 3}" class="text-center align-self-center mt-1">
              <button cButton color="info" size="sm" (click)="findUser()" *ngIf="isShowButton('search')">
                <svg cIcon class="me-2" name="cil-magnifying-glass"></svg><span class="btn-text">Tìm kiếm</span>
              </button>
              <button cButton color="info" size="sm" routerLink="/user/user-register" *ngIf="isShowButton('add')">
                <svg cIcon class="me-2" name="cil-plus"></svg><span class="btn-text">Thêm mới</span>
              </button>
              <button cButton color="info" size="sm" *ngIf="isShowButton('exportExcel')">
                <svg cIcon class="me-2" name="cil-file"></svg><span class="btn-text">Xuất Excel</span>
              </button>
            </c-col>
          </c-row>
        </form>
      </c-card-body>
    </c-card>
  </c-col>

  <c-col xs="12">
    <c-card class="mb-2">
      <c-card-body>
        <h2 class="text-danger text-center" *ngIf="users.length == 0">Không tìm thấy kết quả!</h2>
        <c-pagination size="sm" aria-label="" *ngIf="totalPages > 0">
          <li cPageItem>
            <a cPageLink aria-label="Đầu" [hidden]="pageable.pageNumber <= 0" (click)=" retrieveTutorials(1)"><span
                aria-hidden="true">&laquo;</span></a>
          </li>
          <li cPageItem>
            <a cPageLink [hidden]="pageable.pageNumber-2<= 0" (click)="retrieveTutorials( pageable.pageNumber- 1)">{{
              pageable.pageNumber - 1}}</a>
          </li>
          <li cPageItem>
            <a cPageLink [hidden]="pageable.pageNumber-1<= 0" (click)="retrieveTutorials( pageable.pageNumber)">{{
              pageable.pageNumber }}</a>
          </li>
          <li cPageItem [active]="true">
            <a cPageLink>{{ pageable.pageNumber+1 }}</a>
          </li>
          <li cPageItem>
            <a cPageLink [hidden]="pageable.pageNumber+2>totalPages "
              (click)="retrieveTutorials(pageable.pageNumber+2)">{{ pageable.pageNumber+2}}</a>
          </li>
          <li cPageItem>
            <a cPageLink [hidden]="pageable.pageNumber+3>totalPages "
              (click)="retrieveTutorials(pageable.pageNumber+3)">{{ pageable.pageNumber+3}}</a>
          </li>
          <li cPageItem>
            <a cPageLink aria-label="Next" [hidden]="pageable.pageNumber+1>=totalPages "
              (click)="retrieveTutorials(totalPages)"><span aria-hidden="true">&raquo;</span></a>
          </li>
          <li cPageItem>
            <a class="info-paging" cPageLink aria-label="Số bản ghi/Tổng"><span aria-hidden="true">{{'[' +
                ((pageable.pageNumber * pageable.pageSize + 1)) + ' - ' + (((pageable.pageNumber + 1) *
                pageable.pageSize) > count ? count : ((pageable.pageNumber + 1) * pageable.pageSize)) + ' / ' + count +
                ']'}}</span></a>
          </li>
        </c-pagination>

        <table [bordered]="true" hover cTable small>
          <thead>
            <tr>
              <th scope="col">STT</th>
              <th scope="col">Tên đăng nhập</th>
              <th scope="col">Họ và tên</th>
              <th scope="col">Đơn vị</th>
              <th scope="col">Đại lý</th>
              <th scope="col">Thư điện tử</th>
              <th scope="col">Điện thoại</th>
              <th scope="col">Trạng thái</th>
              <th scope="col" colspan="2">Hành động</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of users, index as i">
              <td class="text-center" scope="row">{{(pageable.pageNumber * pageable.pageSize) + i + 1}}</td>
              <td>{{item.userName}}</td>
              <td>{{item.fullname}}</td>
              <td>{{item.departmentname}}</td>
              <td>{{item.officename}}</td>
              <td>{{item.email}}</td>
              <td>{{item.telephone}}</td>
              <td>{{item.status == 1 ? 'Hoạt động' : (item.status == 0 ? 'Ngừng hoạt động' : (item.status == 2 ? 'Bị
                xóa' : (item.status == 5 ? 'Bị khóa' : '') ))}}</td>
              <td class="text-center">
                <div class="dislay-flex">
                  <a [routerLink]="['/user/user-update', encryptData(item.id)]"
                    *ngIf="isShowButton('edit') && item.status == 1"><svg cIcon class="me-2"
                      name="cil-pencil"></svg></a>
                  <a (click)="changePassword(item.id)" class="color_blue"
                    *ngIf="isShowButton('changePass') && item.status == 1"> <svg cIcon class="me-2"
                      name="cil-reload"></svg></a>
                </div>
              </td>
              <td>
                <div class="dislay-flex">
                  <span (click)="deleteUser(item)" class="color_red" *ngIf="isShowButton('delete')"><svg cIcon
                      class="me-2" name="cil-trash"></svg></span>
                  <span *ngIf="item.status == 1 && isShowButton('lock')" (click)="lockUser(item)"
                    class="color_blue"><svg cIcon name="cilLockLocked"></svg></span>
                  <span *ngIf="item.status != 1 && isShowButton('unlock')" (click)="unlockUser(item)"
                    class="color_blue"><svg cIcon name="cilLockUnlocked"></svg></span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <c-pagination size="sm" *ngIf="totalPages > 0">
          <li cPageItem>
            <a cPageLink aria-label="Đầu" [hidden]="pageable.pageNumber <= 0" (click)=" retrieveTutorials(1)"><span
                aria-hidden="true">&laquo;</span></a>
          </li>
          <li cPageItem>
            <a cPageLink [hidden]="pageable.pageNumber-2<= 0" (click)="retrieveTutorials( pageable.pageNumber- 1)">{{
              pageable.pageNumber - 1}}</a>
          </li>
          <li cPageItem>
            <a cPageLink [hidden]="pageable.pageNumber-1<= 0" (click)="retrieveTutorials( pageable.pageNumber)">{{
              pageable.pageNumber }}</a>
          </li>
          <li cPageItem [active]="true">
            <a cPageLink>{{ pageable.pageNumber+1 }}</a>
          </li>
          <li cPageItem>
            <a cPageLink [hidden]="pageable.pageNumber+2>totalPages "
              (click)="retrieveTutorials( pageable.pageNumber+2)">{{ pageable.pageNumber+2}}</a>
          </li>
          <li cPageItem>
            <a cPageLink [hidden]="pageable.pageNumber+3>totalPages "
              (click)="retrieveTutorials( pageable.pageNumber+3)">{{ pageable.pageNumber+3}}</a>
          </li>
          <li cPageItem>
            <a cPageLink aria-label="Next" [hidden]="pageable.pageNumber+1>=totalPages "
              (click)="retrieveTutorials( totalPages)"><span aria-hidden="true">&raquo;</span></a>
          </li>
          <li ccPageItem>
            <a class="info-paging" cPageLink aria-label="Số bản ghi/Tổng"><span aria-hidden="true">{{'[' +
                ((pageable.pageNumber * pageable.pageSize + 1)) + ' - ' + (((pageable.pageNumber + 1) *
                pageable.pageSize) > count ? count : ((pageable.pageNumber + 1) * pageable.pageSize)) + ' / ' + count +
                ']'}}</span></a>
          </li>
        </c-pagination>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>